# Local PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=business_pulse
POSTGRES_PORT=5433
POSTGRES_HOST=localhost

# Test PostgreSQL
TEST_POSTGRES_DB=business_pulse_test

# Local Ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2:1b

# Production PostgreSQL
DATABASE_URL=

# Gemini API
GEMINI_API_KEY=
GEMINI_MODEL=